<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Table</title>
    </head>
<body>
    <table>
        <thead>
            <% header.forEach(col => { %>
                <th><%= col %></th>
            <% }) %>
        </thead>
        <tbody>
            <% rows.forEach(row => { %>
                <tr>
                    <% row.forEach(element => { %>
                        <td><%= element %></td>
                    <% }) %>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>
